.app {
  display: none;
}
.mainContainer {
  border-right: #b85aad solid;
  border-left: #b85aad solid;
  border-top: #b85aad solid;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: #ffe189;
}
.title {
  border: #b85aad solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  margin-bottom: -15vh;
  font-size: 40px;
  background-color: #da9088;
  border-radius: 20px;
  color: #58460d;
}
.ticTacToeContainer {
  border: darkcyan solid;
  height: 60vh;
  width: 70vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.squares {
  border: darkcyan solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.buttons {
  border-bottom: #b85aad solid;
  border-right: #b85aad solid;
  border-left: #b85aad solid;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe189;
  /* border-radius: 6vh; */
  margin-top: -6vh;
}

.reset {
  height: 8vh;
  width: 12vh;
  color: inherit;
  background: none;
  border: 12px single darkcyan;
  margin-left: 3vh;
  border-radius: 12vh;
}

.winner {
  border: darkcyan double;
  height: 8vh;
  width: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dd9296;
  color: #58460d;
  border-radius: 6vh;
}

.plcaeHolder {
  width: 15vh;
}

.startScreen {
  border: darkcyan double;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: #ffe189;
  border: #b85aad solid;
}
.userTitle {
  margin-top: 1vh;
}

.userSelection {
  border: darkcyan double;
  height: 40vh;
  width: 47vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10vh;
  background-color: #2e88accc;
  border-radius: 5vh;
}

.nameContainers {
  display: flex;
  border: darkcyan double;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 45vh;
  gap: 0.5vh;
  background-color: hsla(6, 29%, 73%, 0.911);
  border-radius: 4vh;
}
.user1Input {
  display: flex;
  border-radius: 0.5vh;
  width: 15vh;
}

.user2Input {
  display: flex;
  border-radius: 0.5vh;
  width: 15vh;
}

.user1Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user2Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submiteButton {
  height: 4vh;
  width: 8vh;
  color: inherit;
  background: none;
  border: olive single;
  border-width: 1px;
  margin-bottom: 1vh;
  background-color: hsla(6, 29%, 73%, 0.911);
}
